@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .heading2 {
    @apply text-[40px] font-bold leading-[36px] text-white;
  }

  .heading8 {
    @apply text-[14px] font-bold leading-[16px];
  }

  .typo-hero {
    @apply text-[32px] font-light leading-[38px];
  }

  .typo-title {
    @apply text-[24px] font-bold leading-[28px] text-white;
  }

  .typo-body-medium {
    @apply text-[16px] font-normal leading-[24px] text-typo-125;
  }

  .typo-validator-name {
    @apply text-[32px] font-bold leading-[36px] text-white;
  }

  .page-container {
    @apply w-full max-w-[1136px];
  }

  .button-pill {
    @apply cursor-pointer rounded-full bg-bg-400 px-[8px] py-[4px] text-white hover:bg-bg-600;
  }
}

@font-face {
  font-family: Akkurat;
  font-weight: 400;
  src: url(../../public/font/AkkuratLL-Regular.otf);
}

@font-face {
  font-family: Akkurat;
  font-weight: 700;
  src: url(../../public/font/AkkuratLL-Bold.otf);
}

* {
  font-family: Akkurat;
}
